97804470192740_download/ch13/data/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="rows">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="row"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:attribute name="number" use="required" type="xs:integer"/>
      <xs:attribute name="colors" use="required" type="xs:NMTOKENS"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
