97804470192740_download/ch13/index-of/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="obs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obs">
    <xs:complexType>
      <xs:attribute name="at" use="required" type="xs:time"/>
      <xs:attribute name="colors" use="required" type="xs:NMTOKENS"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
